{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('CSS/form.css')}}">
{% endblock %}

{% block title %} Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class='main'>

        {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                <h1>Inscription</h1>
                    {{ form_row(registrationForm.nom) }}
                    {{ form_row(registrationForm.prenom) }}
                    {{ form_row(registrationForm.date_de_naissance)}}
                    {{ form_row(registrationForm.email)}}
                    {{ form_row(registrationForm.plainPassword, { label :"Mot de passe *"} ) }}
                    {{ form_row(registrationForm.photo) }}
                    {{ form_row(registrationForm.pseudo) }}
                    {{ form_row(registrationForm.profil) }}
                    {{ form_row(registrationForm.genres) }}
                <button type="submit" class="button">Valider</button>
                <p style="color:red">* Obligatoire </p>
            {{ form_end(registrationForm) }}
</div>
{% endblock %}