{% extends 'base.html.twig' %}


{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('CSS/commentaire.css')}}">
{% endblock %}

{% block body %}

    <div class='main'>
        <div class='text'>
            <h1>Mes commentaires</h1>
        </div>
        <div class='wrap'>
            {% for commentaire in app.user.commentaires | reverse %}
                <div class="com">
                    <div class='titre'>
                        <h6>{{ commentaire.dateDeCreation | date("d-m-Y") }}</h6>  
                        <h6>{{ commentaire.note }} <i class='fa fa-star'style='font-size: 20px; color:yellow'></i></h6>
                    </div>
                    <div class='info'>
                        <h5>De : {{ commentaire.user.pseudo}}</h5>
                        <h5>Pour : {{ commentaire.musique.titre}}</h5>
                    </div>
                    <p>'{{ commentaire.content }}'</p>
                </div>
            {% endfor %}
        </div>
    </div>           
            
{% endblock %}