{% extends 'base.html.twig' %}

{% block title %}Moderation{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('CSS/admin.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}

  <h1 >Listes des musiques </h1>
  <br>
  <table >
      <tr>
        <th scope="col" >Photo </th>
        <th scope="col">Titre </th>
        <th scope="col">Morceau</th>
        <th scope="col">Genre</th>
        <th scope="col">Moderation</th>
      </tr>
      {% for musique in musiques %}
        {% if musique.moderation == 0 %}
            <tr>
                <td><img src="{{asset('photo/musique/' ~ musique.photo)}}" alt="{{musique.photo}}" width="50"></td>
                <td>{{musique.titre}}</td>
                <td> <audio controls src="{{asset('fichier/musique/' ~ musique.fichier)}}"></audio></td>
                <td> {{musique.genre.nom}}</td>
                <td><a href="{{path('app_ajout_moderation', {id: musique.id})}}" onClick="return confirm('Autoriser la musique ?')"><i class="fa fa-check" style="font-size:36px; color:black" ></i></a></td>
            </tr>
        {% endif %}
      {% endfor %}
      <td></td>
      <td></td>
      <td>{{knp_pagination_render(musiques)}}</td>
  </table>

{% endblock %}
