{% extends 'base.html.twig' %}

{% block title %}Les Utilisateurs{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('CSS/admin.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}

  <h1 >Listes des utilisateurs </h1>
  <br>
  <table >
      <tr>
        <th scope="col" >Prénom </th>
        <th scope="col">Nom </th>
        <th scope="col">Pseudo</th>
        <th scope="col">email</th>
        <th scope="col">Roles</th>
        <th scope="col">Supprimer</th>
        <th scope="col">Passer en admin</th>
        <th scope="col">Passer en modo</th>
      </tr>
      {% for user in users %}
      <tr >
        <td>{{user.prenom}}</td>
        <td>{{user.nom}}</td>
        <td>{{user.pseudo}}</td>
        <td> {{user.email}}</td>
        <td>
        {% for unrole in user.roles %}
          {% if unrole == 'ROLE_ADMIN' or unrole == 'ROLE_MODO' %}
              {{unrole}}
          {% endif %}
        {% endfor %}
        </td>
        <td><a href="{{path('app_deleteAdmin_user', {id: user.id})}}" onClick="return confirm('êtes-vous sur de vouloir supprimer?')"><i class="fa fa-trash" style="font-size:36px; color:black" ></i></a></td>
        <td><a href="{{path('app_admin', {id: user.id})}}" ><i class="fa fa-cog" style="font-size:36px; color:black" ></i></a></td>
        <td><a href="{{path('app_modo', {id: user.id})}}" ><i class="fa fa-shield" style="font-size:36px; color:black" ></i></a></td>
      </tr>
      {% endfor %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{knp_pagination_render(users)}}</td>
  </table>

{% endblock %}